.nav {
  position: fixed;
  display: flex;
  align-items: center;
  padding-top: .6rem;
  padding-bottom: .6rem;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  border-bottom: 1px solid $color-border-main;
  transition: all .4s;

  &__title {
    display: inline-block;
    color: $color-main-orange;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: .6rem 0;
  }

  &__toggle {
    display: inline-block;
    background-color: white;
    border-radius: 2px;
    border-color: $color-border-main;
    color: $color-toggle-main;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    padding: .4rem .8rem;

    @include medium {
      display: none;
    }
  }

  &__links {
    display: none;
    
    @include medium {
      display: flex;
    }
  }

  &__link {
    padding: 0 1rem;
  }

  &__dropdown {
    text-transform: uppercase;
    font-weight: bold;
    flex-basis: 100%;
    height: 0;
    transition: all .4s;
    & a,
      a:hover, 
      a:visited {
      color: $color-text-main;
    }
    & ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      & li {
        padding-top: .6rem;
        padding-bottom: .6rem;
      }
    }
    &--show {
      height: 148px;
    }
    @include medium {
      display: none;
    }
  }
}
